In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier

# 数据加载

In [2]:
train_data=pd.read_csv(r'../data/Titanic_Data/train.csv')
test_data=pd.read_csv(r'../data/Titanic_Data/test.csv')

# 数据预览

In [3]:
print(train_data.info())  #使用 info() 了解数据表的基本情况：行数、列数、每列的数据类型、数据完整度；
print('-'*30)
print(train_data.describe()) #使用 describe() 了解数据表的统计情况：总数、平均值、标准差、最小值、最大值等
print('-'*30)
# print(train_data.describe(include=['O'])) #使用 describe(include=[‘O’]) 查看字符串类型（非数字）的整体情况
# print('-'*30)
print(train_data.head())  #使用 head 查看前几行数据（默认是前 5 行）
# print('-'*30)
# print(train_data.tail())  #使用 tail 查看后几行数据（默认是最后 5 行）

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
------------------------------
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
------------------------------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

# 数据预处理
数据集中包括12列，代表12个特征；
所有的特征并不全是对分类有用的，同时有些特征存在nan缺失

In [4]:
# 使用平均年龄来填充年龄中的 nan 值
train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)
test_data['Age'].fillna(test_data['Age'].mean(),inplace=True)
# 使用票价的均值填充票价中的 nan 值
train_data['Fare'].fillna(train_data['Fare'].mean(), inplace=True)
test_data['Fare'].fillna(test_data['Fare'].mean(),inplace=True)
print(train_data['Embarked'].value_counts())

# 使用登录最多的港口来填充登录港口的 nan 值
train_data['Embarked'].fillna('S', inplace=True)
test_data['Embarked'].fillna('S',inplace=True)

S    644
C    168
Q     77
Name: Embarked, dtype: int64

# 特征选择
Passenger Id 为乘客编号，对分类没有作用，可以放弃；Name
为乘客姓名，对分类没有作用，可以放弃；Cabin 字段缺失值太多，可以放弃；Ticket 字
段为船票号码，杂乱无章且无规律，可以放弃。其余的字段包括：Pclass、Sex、Age、
SibSp、Parch 和 Fare，这些属性分别表示了乘客的船票等级、性别、年龄、亲戚数量以
及船票价格，可能会和乘客的生存预测分类有关系。

In [5]:
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
train_features = train_data[features]
print(train_features)
train_labels = train_data['Survived']
test_features = test_data[features]

     Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0         3    male  22.000000      1      0    7.2500        S
1         1  female  38.000000      1      0   71.2833        C
2         3  female  26.000000      0      0    7.9250        S
3         1  female  35.000000      1      0   53.1000        S
4         3    male  35.000000      0      0    8.0500        S
5         3    male  29.699118      0      0    8.4583        Q
6         1    male  54.000000      0      0   51.8625        S
7         3    male   2.000000      3      1   21.0750        S
8         3  female  27.000000      0      2   11.1333        S
9         2  female  14.000000      1      0   30.0708        C
10        3  female   4.000000      1      1   16.7000        S
11        1  female  58.000000      0      0   26.5500        S
12        3    male  20.000000      0      0    8.0500        S
13        3    male  39.000000      1      5   31.2750        S
14        3  female  14.000000      0      0    7.8542        S
15        2  female  55.000000      0      0   16.0000        S
16        3    male   2.000000      4      1   29.1250        Q
17        2    male  29.699118      0      0   13.0000        S
18        3  female  31.000000      1      0   18.0000        S
19        3  female  29.699118      0      0    7.2250        C
20        2    male  35.000000      0      0   26.0000        S
21        2    male  34.000000      0      0   13.0000        S
22        3  female  15.000000      0      0    8.0292        Q
23        1    male  28.000000      0      0   35.5000        S
24        3  female   8.000000      3      1   21.0750        S
25        3  female  38.000000      1      5   31.3875        S
26        3    male  29.699118      0      0    7.2250        C
27        1    male  19.000000      3      2  263.0000        S
28        3  female  29.699118      0      0    7.8792        Q
29        3    male  29.699118      0      0    7.8958        S
..      ...     ...        ...    ...    ...       ...      ...
861       2    male  21.000000      1      0   11.5000        S
862       1  female  48.000000      0      0   25.9292        S
863       3  female  29.699118      8      2   69.5500        S
864       2    male  24.000000      0      0   13.0000        S
865       2  female  42.000000      0      0   13.0000        S
866       2  female  27.000000      1      0   13.8583        C
867       1    male  31.000000      0      0   50.4958        S
868       3    male  29.699118      0      0    9.5000        S
869       3    male   4.000000      1      1   11.1333        S
870       3    male  26.000000      0      0    7.8958        S
871       1  female  47.000000      1      1   52.5542        S
872       1    male  33.000000      0      0    5.0000        S
873       3    male  47.000000      0      0    9.0000        S
874       2  female  28.000000      1      0   24.0000        C
875       3  female  15.000000      0      0    7.2250        C
876       3    male  20.000000      0      0    9.8458        S
877       3    male  19.000000      0      0    7.8958        S
878       3    male  29.699118      0      0    7.8958        S
879       1  female  56.000000      0      1   83.1583        C
880       2  female  25.000000      0      1   26.0000        S
881       3    male  33.000000      0      0    7.8958        S
882       3  female  22.000000      0      0   10.5167        S
883       2    male  28.000000      0      0   10.5000        S
884       3    male  25.000000      0      0    7.0500        S
885       3  female  39.000000      0      5   29.1250        Q
886       2    male  27.000000      0      0   13.0000        S
887       1  female  19.000000      0      0   30.0000        S
888       3  female  29.699118      1      2   23.4500        S
889       1    male  26.000000      0      0   30.0000        C
890       3    male  32.000000      0      0    7.7500        Q

[891 rows x 7 columns]

特征值里有一些是字符串，这样不方便后续的运算，需要转成数值类型，比如 Sex 字段，
有 male 和 female 两种取值。我们可以把它变成 Sex=male 和 Sex=female 两个字段，
数值用 0 或 1 来表示。

In [6]:
dvec=DictVectorizer(sparse=False)
train_features=dvec.fit_transform(train_features.to_dict(orient='record'))
test_features=dvec.transform(test_features.to_dict(orient='record'))
print(train_features)

[[22.          0.          0.         ...  0.          1.
   1.        ]
 [38.          1.          0.         ...  1.          0.
   1.        ]
 [26.          0.          0.         ...  1.          0.
   0.        ]
 ...
 [29.69911765  0.          0.         ...  1.          0.
   1.        ]
 [26.          1.          0.         ...  0.          1.
   0.        ]
 [32.          0.          1.         ...  0.          1.
   0.        ]]

# 构造决策树

In [7]:
# clf = DecisionTreeClassifier(criterion='entropy')
clf = DecisionTreeClassifier(criterion='gini')  #分类标准对于不同的决策树算法
# 决策树训练
clf.fit(train_features, train_labels)

# 决策树预测
pred_labels = clf.predict(test_features)

# 得到决策树准确率
acc_decision_tree = round(clf.score(train_features, train_labels), 6)
print(u'score 准确率为 %.4lf' % acc_decision_tree)

score 准确率为 0.9820

# 交叉验证

In [8]:
from sklearn.model_selection import cross_val_score
# 使用 K 折交叉验证 统计决策树准确率
print(u'cross_val_score 准确率为 %.4lf' % np.mean(cross_val_score(clf, train_features, train_labels, cv=10)))

cross_val_score 准确率为 0.7824